.slideup, .slidedown {
	max-height: 0;            
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.slidedown {            
	max-height: 50vh !important;                    
}
.fadein {
	-moz-animation: fadein .5s; /* Firefox < 16 */
	-ms-animation: fadein .5s; /* Internet Explorer */
	-o-animation: fadein .5s; /* Opera < 12.1 */
	-webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
	animation: fadein .5s;
}
.fadeout {            
	-moz-animation: fadeout .5s; /* Firefox < 16 */
	-ms-animation: fadeout .5s; /* Internet Explorer */
	-o-animation: fadeout .5s; /* Opera < 12.1 */
	-webkit-animation: fadeout .5s; /* Safari, Chrome and Opera > 12.1 */
	animation: fadeout .5s;
}
$navigators: (
	'moz',
	'webkit',
	'ms',
	'o',
	''
	);
@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}
@include keyframes(fadein) {
	from  { opacity: 0; }
	to { opacity: 1; }
}
@include keyframes(fadeout) {
	from  { opacity: 1; }
	to { opacity: 0 }
}