.background {	
	background-size: cover;
	background-position: center top;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;	
	&:after{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba( 255, 255, 255, 0.5 );
	}
}
.has-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}