#Candidacy {
	.candidacy {
		margin-top: 1em;
		.media {
			figure.media-left {
				width: 162px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}