#Profile {
	form{
		.control {
			&.file {
				border: 1px solid #DBDBDB;
				box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
				display: block;
				border-radius: 4px;
				&:hover {
					border-color: #B5B5B5;
				}
			}
		}
		input{
			&[type="file"] {
				cursor: pointer;
				display: block;
				height: 263px;
				opacity: 0;
				position: relative;
				width: 100%;
			}
		}
	}
}