.button {
	background-color: #3C5D95;
	color: #FFF;
	&:hover {
		background-color: darken( #3C5D95, 5 );
		color: #FFF;
	}
	&:focus {
		background-color: lighten( #3C5D95, 8 );
		color: #DDD;
	}
	&.cancel {
		background-color: #757575;
		color: #FFF;
		&:hover {
			background-color: darken( #757575, 5 ) !important;
			color: #FFF;
		}
		&:focus {
			background-color: lighten( #757575, 8 ) !important;
			color: #DDD;
		}
	}
	&[disabled] {
		background-color: #E0E0E0;
		color: #FFF;
		&:hover {
			background-color: darken( #E0E0E0, 5 ) !important;
			color: #FFF;
		}
		&:focus {
			background-color: lighten( #E0E0E0, 8 ) !important;
			color: #DDD;
		}
	}
	&.light-blue {
		background-color: #1496ED;
		color: #FFF;
		&:hover {
			background-color: darken( #1496ED, 5 ) !important;
			color: #FFF;
		}
		&:focus {
			background-color: lighten( #1496ED, 8 ) !important;
			color: #DDD;
		}
	}
	&.is-danger {
		background-color: #F57C00;
		color: #FFF;
		&:hover {
			background-color: darken( #F57C00, 5 ) !important;
			color: #FFF;
		}
		&:focus {
			background-color: lighten( #F57C00, 8 ) !important;
			color: #DDD;
		}
	}
	&.error {
		background-color: #B71C1C;
		color: #FFF;
		&:hover {
			background-color: darken( #B71C1C, 5 ) !important;
			color: #FFF;
		}
		&:focus {
			background-color: lighten( #B71C1C, 8 ) !important;
			color: #DDD;
		}
	}
}