form {
	.required {
		&:after {
			color: red;
			content: '*';
			font-weight: bold;
			margin-left: 5px;
		}
	}
	.select {
		background-color: #fff;
		border-color: #dbdbdb;
		border-radius: 4px;
		box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
		color: #363636;
		max-width: 100%;
		padding-bottom: calc(.375em - 1px);
		padding-left: calc(.625em - 1px);
		padding-right: calc(.625em - 1px);
		padding-top: calc(.375em - 1px);
		width: 100%;
	}
}