@import '../variables';

.menu {
	background-color: $sidebar-background-color;
	height: 100vh;
	left: 0px;
	position:fixed;
	top: 0px;
	width: $sidebar-width;
	z-index: 800;
	header {
		padding: .75em;
		&:after {
			border-top: 1px solid $sidebar-border-color;
			content: '';
			display: block;
			margin: 15px 0 0;
			width: 100%;
		}
	}
	&>ul {
		&>li {
			line-height: $sidebar-lineheight;
			padding: 10px 10px 0 10px;
			&>a {
				position: relative;
				color: $sidebar-item-color;
				background-color: $sidebar-item-background-color;
				&.active {
					color: $sidebar-item-active-color;
					background-color: $sidebar-item-active-background-color;
				}
				&.collapsible {
					&.show {
						background-color: lighten( $sidebar-item-active-background-color, 15 );
						color: $sidebar-item-active-color;
						&+ul {
							border-color: lighten( $sidebar-item-active-background-color, 15 );
						}
					}
					&:after {
					    content: "\203A";
					    position: absolute;
					    top: 8px;
					    right: 5px;
					    font-size: 2em;
					    transform: rotate( 90deg );
					}
					&+ul {
						max-height: 0px;
						padding: 0;
						margin: 0;
						overflow: hidden;
						border-left: 2px solid $sidebar-block-border-color;
						border-right: 2px solid $sidebar-block-border-color;
						border-bottom: 2px solid $sidebar-block-border-color;
						li {
							margin-left: 5px;
							margin-right: 5px;
							&:first-child {
								margin-top: 5px;
							}
							&:last-child {
								margin-bottom: 5px;
							}
							&:hover {
								a {
									background-color: $sidebar-block-hover-background-color;
									color: $sidebar-block-hover-color;
									font-weight: bold;
								}
							}
							a.active {
								color: $sidebar-block-item-active;
								font-weight: bold;
							}
						}
						&.slideup {
							border-bottom: none;
						}
					}
				}
				&:hover {
					background-color: $sidebar-item-hover-background-color;
					color: $sidebar-item-hover-color;
				}
			}
		}
	}
}