.modal {
	// opacity: 0;
	.modal-content {
		background-color: $modal-background;
		padding: $modal-padding;
		border-radius: $modal-border-radius;
		a {
			margin: .5rem .2rem 0;
			display: inline-block;
		}
	}
}