.navbar {
	background-color: rgba( 255, 255, 255, .8 ) !important;
	padding: 0 1.5em;
	color: #3C5D95;
	.active {
		background-color: #FFFFFF;
	}
	.button {
		&.is-primary {
			background-color: #3C5D95;
		}
		color: #FFF;
		margin: 8px;
	}
}