@import "../variables";

.panel {
	border-radius: 1em;
	border: 1.5px solid $primary-text-color;
	min-height: 50px;
	padding: 1.5em;
	margin-bottom: 2.5rem;
	.panel-header {
		.icon {
			float: left;
			border-radius: .1em;
			background-color: #EFEFEF;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				border-radius: 100%;
				border: 3px solid white;
				width: 80%;
				height: 80%;
			}
			&.lg {
				width: 100px;
				height: 100px;
				font-size: 3em;
				margin-top: -45px;
			}
		}
		.title {
			background-color: $primary-text-color;
			color: white;
			padding: 15px 20px;
			margin: -50px 0px 20px;
			font-size: 2.5em;
		}
	}
	.panel-content {
		.subtitle {
			color: $primary-text-color;
			font-size: 2em;
			font-weight: bold;
			margin-bottom: 2rem;
			text-align: right;
		}
		ul {
			padding-left: 20px;
			li {
				list-style-type: disc;
				margin: 5px 0;
				.tag {
					margin-right: 5px;
				}
			}
		}
	}
	&.danger{
		border-color: #F95F62;
		.icon {
			background-color: #F95F62;
			color: white;
		}
	}
	&.alert{
		border-color: #EE9D2E;
		.icon {
			background-color: #EE9D2E;
			color: white;
		}
	}
}