$primary-text-color: #3C5D95;

$body-background-color: #F5F5F5;

$sidebar-width: 250px;
$sidebar-background-color: #F5F7FA;
$sidebar-lineheight: 1.5em;
$sidebar-border-color: #666;

$sidebar-item-color: #000;
$sidebar-item-border-color: #999;
$sidebar-item-background-color: #E2E7F0;
$sidebar-item-hover-color: #FFF;
$sidebar-item-hover-background-color: #688DCC;

$sidebar-item-active-color: #FFF;
$sidebar-item-active-border-color: #666;
$sidebar-item-active-background-color: #3C5D95;

$sidebar-block-item-active: #3C5D95;
$sidebar-block-border-color: #3C5D95;
$sidebar-block-hover-color: #000;
$sidebar-block-hover-background-color: transparent;

$modal-background: #FFF;
$modal-padding: 50px;
$modal-border-radius: .4em;